<nav class="navbar">
  <ul class="nav-links">
    <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
    <li><a routerLink="/author" routerLinkActive="active">Author</a></li>
    <li><a routerLink="/about" routerLinkActive="active">About</a></li>
    <li><a routerLink="/employees" routerLinkActive="active">Employees</a></li>
    <li><a routerLink="/jobs" routerLinkActive="active">Jobs</a></li>
    <li><a routerLink="/customers" routerLinkActive="active">Customers</a></li>
    <li><a routerLink="/tables" routerLinkActive="active">Tables</a></li>
    <li><a routerLink="/orders" routerLinkActive="active">Orders</a></li>
    <li><a routerLink="/items" routerLinkActive="active">Items</a></li>
    <li><a routerLink="/foods" routerLinkActive="active">Foods</a></li>
    <li><a routerLink="/booking" routerLinkActive="active">Booking</a></li>
  </ul>
</nav>
