<mat-toolbar color="primary">
    <span class="title-center">Jobs</span>
  </mat-toolbar>
  
  <div class="container mat-elevation-z8">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($any($event.target).value)" placeholder="Filter">
    </mat-form-field>
    <mat-table [dataSource]="dataSource" class="mat-cell" matSort>
  
      <ng-container matColumnDef="jobId">
        <mat-header-cell *matHeaderCellDef mat-sort-header>JobID</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.jobId}}</mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="jobTitle">
        <mat-header-cell *matHeaderCellDef mat-sort-header>JobTitle</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.jobTitle}}</mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>
          <button mat-icon-button color="primary" (click)="openDialog(1, null, null)">
            <mat-icon>add</mat-icon>
          </button>
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button mat-icon-button color="primary"  (click)="openDialog(2, row.jobId, row.jobTitle)">
            <mat-icon aria-label="Edit">edit</mat-icon>
          </button>
          <button mat-icon-button color="primary"  (click)="openDialog(3, row.jobId, row.jobTitle)">
            <mat-icon arial-label="Delete">delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row style="cursor: default" *matRowDef="let row; columns: displayedColumns"></mat-row>

</mat-table>
<mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true"></mat-paginator>
</div>
